@{
    ViewBag.Title = "Reporte de Pagos";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="alert alert-info">
    <p>
        <strong>Página en construcción.</strong>
    </p>
    <p>
        Aquí se mostrará su historial de reportes de pago.
        <br/>
        (Empleado ID: @ViewBag.IdEmpleado)
    </p>
</div> 