@{
    ViewBag.Title = "Contraseña actualizada";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="sign-user_card bg-white">


    <!-- Header de la empresa -->
    <div>
        @*<img src="https://medismart.net/wp-content/uploads/2023/06/suplidora-royal.jpg" alt="Logo">*@
        <img src="~/Content/Images/Emplaniapp_Logo1.png" alt="logo">
    </div>

    <br /><br />
    
    <div class="mb-4">
        <h1 class="mb-2"><i class="bi bi-check-circle-fill" style="color:green; padding:20px;"></i></h1>
        <h3 class="mb-2">¡Contraseña Actualizada!</h3>
        <p>
            Tu contraseña fue restablecida correctamente. Ya puedes iniciar sesión con tu nueva clave.
        </p>
    </div>

    <div class="btn btn-primary mb-2">
        <a href="@Url.Action("Login","Account")" class="btn-primary">Iniciar sesión</a>
    </div>

</div>