
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Enlace inválido";
}
<div class="sign-user_card bg-white text-center p-4">
    <h3>Enlace inválido</h3>
    <p>@(ViewBag.ErrorMessage ?? "El enlace de restablecimiento no es válido o ha expirado.")</p>
    <a class="btn btn-primary" href="@Url.Action("ForgotPassword","Account")">
        Solicitar un nuevo enlace
    </a>
</div>


